# Python specific
__pycache__/
*.pyc

# IDE specific
.idea/
.vscode/
*.iml

# Compiled files
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib

# Environment specific
venv/
.venv/
env/
lib/
site-packages/
dist/
build/
*.egg-info/

# Data and logs
data/
logs/
models/
src/logs/
data-lake/
data-mountain/

# Backup files
*~

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Udacity simulator
term1-simulator-windows/